<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Untitled Document</title>
		<link rel="stylesheet" href="stylesheets/style.css">
	</head>

	<body>
		<nav>
			<ul>
				<li>
					<a href="index.html">home</a>
				</li>
				<li>
					<a href="index.html#aboutSection">about</a>
				</li>
				<li>
					<a href="find_company.html">find a company</a>
				</li>
				<li>
					<a href="request_company.html">request a company</a>
				</li>
			</ul>
		</nav>
		
		<img src="images/graph1.png">
	</body>
</html>
