<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Clarity - Find a Company</title>
		<link rel="stylesheet" href="stylesheets/style.css">
		<link rel="stylesheet" href="stylesheets/find_company_stylesheet.css">
	</head>
	<body>
		<nav>
			<ul>
				<li>
					<a href="index.html">home</a>
				</li>
				<li>
					<a href="index.html#aboutSection">about</a>
				</li>
				<li>
					<a href="find_company.html">find a company</a>
				</li>
				<li>
					<a href="request_company.html">request a company</a>
				</li>
			</ul>
		</nav>

		<div class="instructionsSection">
			<h2>find information</h2>
			<p>Click on a company to learn more about their environmental impact</p>
		</div>
		
		<div class="listBox">
			<table>
				<tr>
					<th>Company</th>
					<th>Report</th>
				</tr>
				<tr>
					<td>Insert Company Name</td>
					<td>
						<a class="reportButton" href="company_report.html">View Report</a>
					</td>
				</tr>
			</table>
		</div>
		
		
		<footer>
			<div>
				<div>
					<p>Andrew Dority - adority121@ku.edu</p>
				</div>
				<div>
					<p>Andrew Dority - adority121@ku.edu</p>
				</div>
			</div>
			<div>
				<div>
					<p>Andrew Dority - adority121@ku.edu</p>
				</div>
				<div>
					<p>Andrew Dority - adority121@ku.edu</p>
				</div>
			</div>
		</footer>
	</body>
</html>