<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Clarity - Homepage</title>
		
		
		<link rel="stylesheet" href="{% static 'stylesheets/style.css' %}">
		
	</head>
	<body>
		<!-- NAV BAR -->
		<nav>
			<ul>
				<li>
					<a href="index.html" class="headerButton">home</a>
				</li>
				<li>
					<a href="#aboutSection" class="headerButton">about</a>
				</li>
				<li>
					<a href="find_company.html" class="headerButton">find a company</a>
				</li>
				<li>
					<a href="request_company.html" class="headerButton">request a company</a>
				</li>
			</ul>
		</nav>
		
		<!-- logo image -->
		<a href="index.html" class="logo">
			{% load static %}
			<img src="{% static 'images/logo_version1.png' %}" alt="logo">
			
		</a>
		
		<!-- Title -->
		<h1 class="title">clarity</h1>
		
		<div class="treeImage">
			<img src="images/tree drawing.png" alt="tree drawing">
		</div>
		
		<div id="aboutSection">
			<h2>about us</h2>
			<p class="description">We are a team of students from Kansas providing educational resources to help consumers make well-informed, more ethical purchases.</p>
		</div>
		
		<div id="findCompanySection">
			<h2>find a company</h2>
			<p class="description">Look through our database to learn more about the environmental impact of your favorite companies.</p>
			<a href="find_company.html" class="pageButton">get started</a>
		</div>
		
		<div id="requestCompanySection">
			<h2>request a company</h2>
			<p class="description">Is there a company you would like to see analyzed?</p>
			<a href="request_company.html" class="pageButton">Let us know!</a>
		</div>
		
		<div id="footerTitleStatement">
			<h3>connect with our team</h3>
		</div>
		<footer>
			<div>
				<div> 
					<a href="https://www.linkedin.com/in/emma-nasseri" class="headerButton">Emma Nasseri</a>
				</div>
				<div>
					<p>Andrew Dority - adority121@ku.edu</p>
				</div>
			</div>
			<div>
				<div>
					<p>Morgan Bergen - adority121@ku.edu</p>
				</div>
				<div>
					<p>Payden Brunton - adority121@ku.edu</p>
				</div>
			</div>
		</footer>
	</body>
</html>
