<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Clarity - Request a Company</title>
	<link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
	<nav>
		<ul>
			<li>
				<a href="index.html">home</a>
			</li>
			<li>
				<a href="index.html#aboutSection">about</a>
			</li>
			<li>
				<a href="find_company.html">find a company</a>
			</li>
			<li>
				<a href="request_company.html">request a company</a>
			</li>
		</ul>
	</nav>
	
	<!-- logo image -->
	<a href="index.html" class="logo">
		<img src="images/logo_version1.png" alt="logo">
	</a>
	<footer>
		<div>
			<div> 
				<a href="https://www.linkedin.com/in/emma-nasseri" class="headerButton">Emma Nasseri</a>
			</div>
			<div>
				<a href="https://www.linkedin.com/in/andrew-dority/" class="headerButton">Andrew Dority</a>
			</div>
		</div>
		<div>
			<div>
				<a href="https://www.linkedin.com/in/morganbergen/" class="headerButton">Morgan Bergen</a>
			</div>
			<div>
				<a href="https://www.linkedin.com/in/payden-brunton-716056163/" class="headerButton">Payden Brunton</a>
			</div>
		</div>
	</footer>
</body>

</html>
